= simple_form_for @company do |f|
  .mb-3
    = f.input :name
  .mb-3
    = f.input :url
  .mb-3
    = f.input :logo, input_html: {class: 'form-control'}

  = f.button :submit, class: 'btn btn-primary'